$primary-color: #D83B01;

/*===========Import statements=============*/

.textFormat {
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: justify;
    overflow: auto;
}

@import "partialssass/navbar";
@import "partialssass/headerImage";
@import "partialssass/aboutme";
@import "partialssass/parallax";
@import "partialssass/footer";

/*=================RESUME SECTION =======================*/

#resume {
    .container {
        .row {
            margin: 0px;
            #col1 {
                padding: 2px;
                #educationHead {
                    h3 {
                        text-align: center;
                        color: $primary-color;
                        padding: 0px;
                        @extend .textFormat;
                        overflow: visible;
                    }
                }
                #btechEdu {
                    h4,
                    h5 {
                        @extend .textFormat;
                        text-align: center;
                    }
                    p {
                        padding: 6px;
                        @extend .textFormat;
                        text-align: center;
                    }
                }
                #auckEdu {
                    h4,
                    h5 {
                        @extend .textFormat;
                        text-align: center;
                    }
                    p {
                        padding: 6px;
                        @extend .textFormat;
                        text-align: center;
                    }
                }
            }
            #col2 {
                #experienceHead {
                    text-align: center;
                    color: $primary-color;
                    padding: 0px;
                    @extend .textFormat;
                    overflow: visible;
                }
                #indiaExp {
                    h4,
                    h5 {
                        @extend .textFormat;
                        text-align: center;
                    }
                    p {
                        padding: 6px;
                        @extend .textFormat;
                        text-align: center;
                    }
                }
                #auckExp {
                    h4,
                    h5 {
                        @extend .textFormat;
                        text-align: center;
                    }
                    p {
                        @extend .textFormat;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.resumeHeader {
    h2 {
        border-bottom: 1px solid $primary-color;
        border-top: 1px solid $primary-color;
        padding: 20px;
        margin: 0px;
        @extend .textFormat;
        color: $primary-color;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    #resumeHeading {
        background-color: $primary-color;
        color: #F8F8F8;
    }
}


/*=======================Services CSS Rules=======================*/

#services {
    #servicesRow1 {
        #serviceHeader {
            text-align: center;
            @extend .textFormat;
            color: $primary-color;
            border-top: 1px solid $primary-color;
            margin-bottom: 3%;
        }
    }
    #servicesRow2 {
        #frontEndDevServices {
            border-right: 1px solid #D83B01;
            text-align: center;
            height: 300px;
            margin-bottom: 15px;
            /*height: 300px;
            width: 230px;
            margin-bottom: 15px;
            margin-left: 5%;*/
        }
        #serverDevServices {
            border-right: 1px solid #D83B01;
            text-align: center;
            height: 300px;
            margin-bottom: 15px;
            /* height: 300px;
            width: 230px;
            margin-bottom: 15px;
            margin-left: 7%;*/
        }
        #desktopDevServices {
            border-right: 1px solid #D83B01;
            text-align: center;
            height: 300px;
            margin-bottom: 15px;
            /*height: 300px;
            width: 230px;
            margin-bottom: 15px;
            margin-left: 7%;*/
        }
        #dataBaseDevServices {
            text-align: center;
            height: 300px;
            margin-bottom: 15px;
            /*height: 300px;
            width: 230px;
            margin-bottom: 15px;
            margin-left: 7%;*/
        }
    }
}

@media screen and (max-width: 768px) {
    #services {
        #servicesRow2 {
            #frontEndDevServices {
                border-right: 0px;
                border-bottom: 1px solid $primary-color;
            }
            #serverDevServices {
                border-right: 0px;
                border-bottom: 1px solid $primary-color;
            }
            #desktopDevServices {
                border-right: 0px;
                border-bottom: 1px solid $primary-color;
            }
            #dataBaseDevServices {
                border-right: 0px;
                border-bottom: 1px solid $primary-color;
            }
        }
    }
}


/*======================WORK process Rules=======================*/

@media screen and (max-width: 480px) {
    #workFlowHeading {
        background-color: $primary-color;
        color: #F8F8F8;
    }
}