/**********************JUMBOTRON CSS RULES ****************/

#headerImage {
    background-image: url(../Images/finalBanner.png);
    background-size: cover;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    /*	background-attachment: fixed;*/
}

#jumboSection {
    margin-top: 6%;
}

#jumboSection>div>div {
    padding-left: 0px;
    padding-right: 0px;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

#overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}

#follow-me-btn>a {
    border-radius: 0px;
    border: none;
    padding: 12px 28px;
    margin: 8px;
    cursor: pointer;
}

#follow-me-btn>a {
    white-space: normal;
}

#follow-me-btn {
    a:hover {
        background-color: $primary-color;
        color: white;
    }
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}


/**********************JUMBOTRON CSS RULES ENDS **********************/