/*********** CSS RULES FOR NAVBAR***********/

nav.navbar {
    border-bottom: 5px solid $primary-color;
    border-radius: 0px;
    padding: 1% 4%;
    div {
        div {
            button {
                span {
                    background-color: red;
                }
            }
        }
    }
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default {
    border: 0px;
}

#mainNavbar>ul>li a {
    font-family: "Verdana", Times, serif;
    font-style: normal;
    font-size: 16px;
    color: black;
    transition: color 0.7s;
}

#mainNavbar>ul>li>a:hover {
    color: $primary-color;
}